@model AplicativoSeguridad.Models.Activo

@{
    ViewData["Title"] = "Crear";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h1>Crear</h1>

    <h4>Activo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Identificador" class="control-label"></label>
                    <input asp-for="Identificador" class="form-control" />
                    <span asp-validation-for="Identificador" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ubicacion" class="control-label">Ubicación</label>
                    <input asp-for="Ubicacion" class="form-control" />
                    <span asp-validation-for="Ubicacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Proceso" class="control-label"></label>
                    <input asp-for="Proceso" class="form-control" />
                    <span asp-validation-for="Proceso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreActivo" class="control-label">Nombre Activo</label>
                    <input asp-for="NombreActivo" class="form-control" />
                    <span asp-validation-for="NombreActivo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    @*<select name="Tipo" id="Tipo">
                        <option value="Software">Software</option>
                        <option value="Hardware">Hardware</option>
                        <option value="Red">Red</option>
                        <option value="Talento Humano">Talento Humano</option>
                    </select>*@
                    @Html.DropDownListFor(model => model.Tipo, new SelectList(new List<string> { "Software", "Hardware", "Red", "Talento Humano" }), "Seleccione un tipo", new { @class = "form-control" })
                    @*<input asp-for="Tipo" class="form-control" />*@
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsable" class="control-label"></label>
                    <input asp-for="Responsable" class="form-control" />
                    <span asp-validation-for="Responsable" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Clasificacion" class="control-label">Clasificación</label>
                    <input asp-for="Clasificacion" class="form-control" />
                    <span asp-validation-for="Clasificacion" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="ValEconomico" class="control-label">Valor Económico</label>
                    <input asp-for="ValEconomico" class="form-control" />
                    <span asp-validation-for="ValEconomico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValOps" class="control-label">Valor Operativo</label>
                    <input asp-for="ValOps" class="form-control" />
                    <span asp-validation-for="ValOps" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValLegal" class="control-label">Valor Legal</label>
                    <input asp-for="ValLegal" class="form-control" />
                    <span asp-validation-for="ValLegal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValRep" class="control-label">Valor Reputacional</label>
                    <input asp-for="ValRep" class="form-control" />
                    <span asp-validation-for="ValRep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValPriv" class="control-label">Valor Privacidad</label>
                    <input asp-for="ValPriv" class="form-control" />
                    <span asp-validation-for="ValPriv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValSeg" class="control-label">Valor Seguridad</label>
                    <input asp-for="ValSeg" class="form-control" />
                    <span asp-validation-for="ValSeg" class="text-danger"></span>
                </div>
                @*            <div class="form-group">
                <label asp-for="Criticidad" class="control-label"></label>
                <input asp-for="Criticidad" class="form-control" />
                <span asp-validation-for="Criticidad" class="text-danger"></span>
            </div>*@
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Volver a la lista de registros</a>
    </div>
}
else
{
    <h1>ERROR 403: ACCESO NO AUTORIZADO</h1>
    <p>O si es que cree tener acceso, pruebe iniciando sesión para acceder a la página</p>
    <div>
        <a asp-area="Identity" asp-page="/Account/Login">Inicia sesión aquí</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Volver a la página principal</a>
    </div>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}